$g-transition-timing:                                       .3s !default;
$g-transition-timing-sm:                                    .2s !default;
$g-transition-timing-md:                                    .4s !default;
$g-transition-function:                                     ease !default;

.transition-3d-hover {
  transition: all $g-transition-timing-sm $g-transition-function;

  &:hover,
  &:focus {
    transform: translateY(-3px);
  }
}

@fontface {
  font-family: 'B612', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=B612&display=swap');
}

body {
  font-family: 'B612', sans-serif !important;
  color: white !important;
  background: #000000 !important;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* position: relative; */
  // background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/headphones2.jpg");
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background: #1DB954 !important;
  border-color: #1DB954 !important;
  border-radius: 500px !important;
  box-shadow: none !important;
  color: #FFFFFF !important;
  font-size: 19px !important;
  font-weight: bold !important;
}

.btn-primary:hover {
  background: #1ED760 !important;
  border-color: #1ED760 !important;
}

.btn-primary:focus {
  background-color: #1aa34a !important;
  border-color: #1aa34a !important;
  outline: 0 !important;
}

h1 {
  font-size: 65px !important;
}

.title {
  letter-spacing: 0.05em;
}

.track-divider {
  border-color: #282828 !important;
  width: 100% !important;
}

.track-image {
  height: 32px;
  width: 32px;
}

.s-link {
  color: white;
  text-decoration: none !important;

  -webkit-transition: color 200ms ease !important;
  transition: color 200ms ease !important;
}
.track-image {
  -webkit-transition: opacity 200ms ease !important;
  transition: opacity 200ms ease !important;
}

.s-link:hover {
  color: #b3b3b3;
}

.s-link:hover .track-image {
  opacity: 0.6;
}

.track {
  background: #282828 !important;
  overflow: hidden !important;
  width: 100% !important;
}

.center {
  position: relative;
  top:0; bottom:0;
  margin-top: auto;
  margin-bottom: auto;
  /* for horiz left-align, try "margin: auto auto auto 0" */
}

.full-width {
  width: 100%;
}

.progress {
  background: #ffffff !important;
}

.fire {
  color: #ce2029 !important;
  position: absolute !important;
  overflow: visible !important;
  margin-left: -17px;
}

.bg-orange {
  background-color: #e25822 !important;
}

.button-term {
  background: #505050 !important;
  border-color: #282828 !important;
  color: #b3b3b3 !important;
}

.button-term-selected {
  background: #505050 !important;
  border-color: #282828 !important;
  color: #b3b3b3 !important;
}

.button-term:hover, .button-term:focus, .button-term-selected { 
  background: #282828 !important;
  box-shadow: none !important;
  color: #ffffff !important;
}
