@fontface {
  font-family: 'B612', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=B612&display=swap');
}

body {
  font-family: 'B612', sans-serif !important;
  color: white !important;
  background: #000000 !important;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* position: relative; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/headphones2.jpg");
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background: #1DB954 !important;
  border-color: #1DB954 !important;
  border-radius: 500px !important;
  box-shadow: none !important;
  color: #FFFFFF !important;
  font-size: 19px !important;
  font-weight: bold !important;
}

.btn-primary:hover {
  background: #1ED760 !important;
  border-color: #1ED760 !important;
}

.btn-primary:focus {
  background-color: #1aa34a !important;
  border-color: #1aa34a !important;
  outline: 0 !important;
}

h1 {
  font-size: 65px !important;
}

.title {
  letter-spacing: 0.05em;
}

.track-divider {
  border-color: #cccccc !important;
}

.track-image {
  height: 32px;
  width: 32px;
}
